.color-primary {
  color: $color-primary;
}

.color-primary-bg {
  background: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-secondary-bg {
  background: $color-secondary;
}

.color-platinum {
  color: $color-platinum;
}

.color-platinum-bg {
  background: $color-platinum;
}
